.root2 {
  display: block;
  font-size: 16px;
  text-align: center;
  text-decoration-line: underline;
  letter-spacing: 0em;
  line-height: 24px;
  position: relative;
  height: auto;
  padding: 0px;
  border: 0px none #d3d3d3;
}
.root2color_white {
  color: var(--token-nrvqRECIgL);
}
.root2productFamily_fs_color_brand {
  color: var(--token-Kuy3pue4Ul0);
}
.root2productFamily_diy_color_brand {
  color: var(--token-EDyY0_uqREt);
}
.root2color_brand_productFamily_ttl {
  color: var(--token-Hj0bFXkzJGn);
}
