.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 1500px) {
  .root {
    display: flex;
    flex-direction: row;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2 {
  width: auto;
  height: auto;
  max-width: 800px;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 337px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
