.root {
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  flex-direction: column;
  cursor: pointer;
  background: transparent;
  padding: 0px;
  border-width: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.rootalign_row {
  width: 100%;
  min-width: 0;
}
.rootalign_row > :global(.__wab_flex-container) {
  min-width: 0;
}
.rootalign_rowWhite {
  width: 100%;
  min-width: 0;
}
.rootalign_rowWhite > :global(.__wab_flex-container) {
  min-width: 0;
}
.rootalign_inline {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.rootalign_inline > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootalign_inline > :global(.__wab_flex-container) > *,
.rootalign_inline > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootalign_inline > :global(.__wab_flex-container) > picture > img,
.rootalign_inline
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.rootalign_inline_justify_center > :global(.__wab_flex-container) {
  align-items: flex-start;
  justify-content: center;
}
.rootcolor_white_align_inline_justify_center > :global(.__wab_flex-container) {
  align-items: flex-start;
  justify-content: center;
}
.freeBox__r2Wuv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
}
.freeBox__r2Wuv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__r2Wuv > :global(.__wab_flex-container) > *,
.freeBox__r2Wuv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r2Wuv > :global(.__wab_flex-container) > picture > img,
.freeBox__r2Wuv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.freeBoxjustify_left__r2WuvuumQ4 {
  align-self: flex-start;
}
.freeBoxalign_row__r2Wuv6Daa0 {
  display: flex;
  flex-direction: row;
}
.freeBoxalign_row__r2Wuv6Daa0 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxalign_row__r2Wuv6Daa0 > :global(.__wab_flex-container) > *,
.freeBoxalign_row__r2Wuv6Daa0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxalign_row__r2Wuv6Daa0 > :global(.__wab_flex-container) > picture > img,
.freeBoxalign_row__r2Wuv6Daa0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
  margin-top: 0px;
}
.freeBoxalign_rowWhite__r2Wuv2IzeS {
  display: flex;
  flex-direction: row;
}
.freeBoxalign_rowWhite__r2Wuv2IzeS > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxalign_rowWhite__r2Wuv2IzeS > :global(.__wab_flex-container) > *,
.freeBoxalign_rowWhite__r2Wuv2IzeS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxalign_rowWhite__r2Wuv2IzeS
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxalign_rowWhite__r2Wuv2IzeS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
  margin-top: 0px;
}
.freeBoxalign_inline__r2WuvjY3R {
  display: flex;
  flex-direction: row;
}
.freeBoxalign_inline__r2WuvjY3R > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxalign_inline__r2WuvjY3R > :global(.__wab_flex-container) > *,
.freeBoxalign_inline__r2WuvjY3R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxalign_inline__r2WuvjY3R
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxalign_inline__r2WuvjY3R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
  margin-top: 0px;
}
.starWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}
.baseStarWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.baseStarWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.baseStarWrapper > :global(.__wab_flex-container) > *,
.baseStarWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.baseStarWrapper > :global(.__wab_flex-container) > picture > img,
.baseStarWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.baseStarWrapperjustify_left > :global(.__wab_flex-container) {
  justify-content: flex-start;
}
.svg__psTgd {
  position: relative;
  object-fit: cover;
  color: var(--token-d_6waqFfWgI);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__vzBd7 {
  position: relative;
  object-fit: cover;
  color: var(--token-d_6waqFfWgI);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__auuIg {
  position: relative;
  object-fit: cover;
  color: var(--token-d_6waqFfWgI);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__mEcLz {
  position: relative;
  object-fit: cover;
  color: var(--token-d_6waqFfWgI);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__c27Lh {
  position: relative;
  object-fit: cover;
  color: var(--token-d_6waqFfWgI);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.colorStarWrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50%;
  overflow: hidden;
}
.colorStarWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.colorStarWrapper > :global(.__wab_flex-container) > *,
.colorStarWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.colorStarWrapper > :global(.__wab_flex-container) > picture > img,
.colorStarWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.colorStarWrapperjustify_left > :global(.__wab_flex-container) {
  justify-content: flex-start;
}
.svg__sqW0I {
  position: relative;
  object-fit: cover;
  color: var(--token-n2wMXLR07Cu);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__ftbrU {
  position: relative;
  object-fit: cover;
  color: var(--token-n2wMXLR07Cu);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__owCnk {
  position: relative;
  object-fit: cover;
  color: var(--token-n2wMXLR07Cu);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__k9IsA {
  position: relative;
  object-fit: cover;
  color: var(--token-n2wMXLR07Cu);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__bMnay {
  position: relative;
  object-fit: cover;
  color: var(--token-n2wMXLR07Cu);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.textWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2px;
  min-width: 0;
}
.textWrapperjustify_left {
  justify-content: flex-start;
}
.textWrapperalign_row {
  margin-top: calc(2px + 0px) !important;
}
.textWrapperalign_rowWhite {
  margin-top: calc(2px + 0px) !important;
}
.slotTargetText {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: var(--token-Hj0bFXkzJGn);
}
.slotTargetTextalign_rowWhite {
  color: #ffffff;
}
.slotTargetTextcolor_white {
  color: var(--token-uJvRRQmpFIr);
}
.root:hover .slotTargetText > :global(.__wab_text),
.root:hover .slotTargetText > :global(.__wab_slot-string-wrapper),
.root:hover .slotTargetText > :global(.__wab_slot) > :global(.__wab_text),
.root:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.root:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.root:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.root:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.root:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
.freeBox__rrdFq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
}
.freeBoxjustify_left__rrdFquumQ4 {
  align-self: flex-start;
}
.freeBoxalign_inline__rrdFqjY3R {
  margin-top: calc(3px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 10px) !important;
}
.freeBoxcolor_white_align_inline__rrdFq1W2NzJY3R {
  margin-top: calc(0px + 0px) !important;
  margin-left: calc(0px + 10px) !important;
  padding: 4px 0px 0px;
}
.slotTargetDisclaimerText {
  font-size: 12px;
  color: #393a3d;
}
.slotTargetDisclaimerTextalign_rowWhite {
  font-style: italic;
  color: #ffffff;
}
.slotTargetDisclaimerTextalign_rowWhite > *,
.slotTargetDisclaimerTextalign_rowWhite > :global(.__wab_slot) > *,
.slotTargetDisclaimerTextalign_rowWhite
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetDisclaimerTextalign_rowWhite
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetDisclaimerTextalign_rowWhite > picture > img,
.slotTargetDisclaimerTextalign_rowWhite > :global(.__wab_slot) > picture > img,
.slotTargetDisclaimerTextalign_rowWhite
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetDisclaimerTextalign_rowWhite
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  display: none;
}
.slotTargetDisclaimerTextalign_inline {
  color: #393a3d;
  font-style: italic;
}
.slotTargetDisclaimerTextcolor_white {
  color: #ffffff;
}
.text {
  position: relative;
}
.textalign_rowWhite {
  font-size: 12px;
  font-style: italic;
  color: #ffffff;
}
.textalign_inline {
  line-height: 1;
}
.textcolor_white_align_inline {
  display: none;
}
