@import url('https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap');

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-1_Hb9VuxCXa_font-family: 'Inter', sans-serif;
  --mixin-1_Hb9VuxCXa_font-size: 16px;
  --mixin-1_Hb9VuxCXa_font-weight: 400;
  --mixin-1_Hb9VuxCXa_font-style: normal;
  --mixin-1_Hb9VuxCXa_color: #535353;
  --mixin-1_Hb9VuxCXa_text-align: left;
  --mixin-1_Hb9VuxCXa_text-transform: none;
  --mixin-1_Hb9VuxCXa_line-height: 1.5;
  --mixin-1_Hb9VuxCXa_letter-spacing: normal;
  --mixin-1_Hb9VuxCXa_white-space: pre-wrap;
  --mixin-1_Hb9VuxCXa_user-select: text;
  --mixin-1_Hb9VuxCXa_text-decoration-line: none;
  --mixin-1_Hb9VuxCXa_text-overflow: clip;
  --mixin-jiZz1csD9lcb_color: #000000;
  --mixin-jiZz1csD9lcb_font-weight: 900;
  --mixin-jiZz1csD9lcb_font-size: 72px;
  --mixin-jiZz1csD9lcb_line-height: 1;
  --mixin-jiZz1csD9lcb_letter-spacing: -4px;
  --mixin-jiZz1csD9lcb_white-space: pre-wrap;
  --mixin-76COPsJkj7M9_font-family: 'Inter', sans-serif;
  --mixin-76COPsJkj7M9_color: #000000;
  --mixin-76COPsJkj7M9_font-size: 48px;
  --mixin-76COPsJkj7M9_font-weight: 700;
  --mixin-76COPsJkj7M9_letter-spacing: -1px;
  --mixin-76COPsJkj7M9_line-height: 1.1;
  --mixin-76COPsJkj7M9_white-space: pre-wrap;
  --mixin-L7DPssLj0oOt_color: #0070f3;
  --mixin-L7DPssLj0oOt_white-space: pre-wrap;
  --mixin-5RS0ngkXFBR1_font-family: 'Inter', sans-serif;
  --mixin-5RS0ngkXFBR1_color: #000000;
  --mixin-5RS0ngkXFBR1_font-size: 32px;
  --mixin-5RS0ngkXFBR1_font-weight: 600;
  --mixin-5RS0ngkXFBR1_letter-spacing: -0.8px;
  --mixin-5RS0ngkXFBR1_line-height: 1.2;
  --mixin-5RS0ngkXFBR1_white-space: pre-wrap;
  --mixin-DEsqCLYMGvND_font-family: 'Inter', sans-serif;
  --mixin-DEsqCLYMGvND_color: #000000;
  --mixin-DEsqCLYMGvND_font-size: 24px;
  --mixin-DEsqCLYMGvND_font-weight: 600;
  --mixin-DEsqCLYMGvND_letter-spacing: -0.5px;
  --mixin-DEsqCLYMGvND_line-height: 1.3;
  --mixin-DEsqCLYMGvND_white-space: pre-wrap;
  --mixin-uauE5dyy4ke6_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-uauE5dyy4ke6_border-bottom-color: #dddddd;
  --mixin-uauE5dyy4ke6_border-bottom-style: solid;
  --mixin-uauE5dyy4ke6_border-bottom-width: 1px;
  --mixin-uauE5dyy4ke6_border-left-color: #dddddd;
  --mixin-uauE5dyy4ke6_border-left-style: solid;
  --mixin-uauE5dyy4ke6_border-left-width: 1px;
  --mixin-uauE5dyy4ke6_border-right-color: #dddddd;
  --mixin-uauE5dyy4ke6_border-right-style: solid;
  --mixin-uauE5dyy4ke6_border-right-width: 1px;
  --mixin-uauE5dyy4ke6_border-top-color: #dddddd;
  --mixin-uauE5dyy4ke6_border-top-style: solid;
  --mixin-uauE5dyy4ke6_border-top-width: 1px;
  --mixin-uauE5dyy4ke6_border-bottom-left-radius: 3px;
  --mixin-uauE5dyy4ke6_border-bottom-right-radius: 3px;
  --mixin-uauE5dyy4ke6_border-top-left-radius: 3px;
  --mixin-uauE5dyy4ke6_border-top-right-radius: 3px;
  --mixin-uauE5dyy4ke6_font-family: 'Inconsolata';
  --mixin-uauE5dyy4ke6_padding-bottom: 1px;
  --mixin-uauE5dyy4ke6_padding-left: 4px;
  --mixin-uauE5dyy4ke6_padding-right: 4px;
  --mixin-uauE5dyy4ke6_padding-top: 1px;
  --mixin-uauE5dyy4ke6_white-space: pre-wrap;
  --mixin-hv8hCagjU8YV_border-left-color: #dddddd;
  --mixin-hv8hCagjU8YV_border-left-style: solid;
  --mixin-hv8hCagjU8YV_border-left-width: 3px;
  --mixin-hv8hCagjU8YV_color: #888888;
  --mixin-hv8hCagjU8YV_padding-left: 10px;
  --mixin-hv8hCagjU8YV_white-space: pre-wrap;
  --mixin-XwYhDi5Ju4xb_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-XwYhDi5Ju4xb_border-bottom-color: #dddddd;
  --mixin-XwYhDi5Ju4xb_border-bottom-style: solid;
  --mixin-XwYhDi5Ju4xb_border-bottom-width: 1px;
  --mixin-XwYhDi5Ju4xb_border-left-color: #dddddd;
  --mixin-XwYhDi5Ju4xb_border-left-style: solid;
  --mixin-XwYhDi5Ju4xb_border-left-width: 1px;
  --mixin-XwYhDi5Ju4xb_border-right-color: #dddddd;
  --mixin-XwYhDi5Ju4xb_border-right-style: solid;
  --mixin-XwYhDi5Ju4xb_border-right-width: 1px;
  --mixin-XwYhDi5Ju4xb_border-top-color: #dddddd;
  --mixin-XwYhDi5Ju4xb_border-top-style: solid;
  --mixin-XwYhDi5Ju4xb_border-top-width: 1px;
  --mixin-XwYhDi5Ju4xb_border-bottom-left-radius: 3px;
  --mixin-XwYhDi5Ju4xb_border-bottom-right-radius: 3px;
  --mixin-XwYhDi5Ju4xb_border-top-left-radius: 3px;
  --mixin-XwYhDi5Ju4xb_border-top-right-radius: 3px;
  --mixin-XwYhDi5Ju4xb_font-family: 'Inconsolata';
  --mixin-XwYhDi5Ju4xb_padding-bottom: 3px;
  --mixin-XwYhDi5Ju4xb_padding-left: 6px;
  --mixin-XwYhDi5Ju4xb_padding-right: 6px;
  --mixin-XwYhDi5Ju4xb_padding-top: 3px;
  --mixin-XwYhDi5Ju4xb_white-space: pre-wrap;
  --mixin-wV8OpSG5L3E9_display: flex;
  --mixin-wV8OpSG5L3E9_flex-direction: column;
  --mixin-wV8OpSG5L3E9_align-items: stretch;
  --mixin-wV8OpSG5L3E9_justify-content: flex-start;
  --mixin-wV8OpSG5L3E9_list-style-position: outside;
  --mixin-wV8OpSG5L3E9_padding-left: 40px;
  --mixin-wV8OpSG5L3E9_position: relative;
  --mixin-wV8OpSG5L3E9_list-style-type: disc;
  --mixin-wV8OpSG5L3E9_white-space: pre-wrap;
  --mixin-E0EOgEoHmwvF_display: flex;
  --mixin-E0EOgEoHmwvF_flex-direction: column;
  --mixin-E0EOgEoHmwvF_align-items: stretch;
  --mixin-E0EOgEoHmwvF_justify-content: flex-start;
  --mixin-E0EOgEoHmwvF_list-style-position: outside;
  --mixin-E0EOgEoHmwvF_padding-left: 40px;
  --mixin-E0EOgEoHmwvF_position: relative;
  --mixin-E0EOgEoHmwvF_list-style-type: decimal;
  --mixin-E0EOgEoHmwvF_white-space: pre-wrap;
  --mixin--GZ2k5WFFVEP_font-family: 'Inter', sans-serif;
  --mixin--GZ2k5WFFVEP_color: #000000;
  --mixin--GZ2k5WFFVEP_font-size: 20px;
  --mixin--GZ2k5WFFVEP_font-weight: 600;
  --mixin--GZ2k5WFFVEP_letter-spacing: -0.3px;
  --mixin--GZ2k5WFFVEP_line-height: 1.5;
  --mixin--GZ2k5WFFVEP_white-space: pre-wrap;
  --mixin-RGuhvA92z-pL_font-family: 'Inter', sans-serif;
  --mixin-RGuhvA92z-pL_color: #000000;
  --mixin-RGuhvA92z-pL_font-size: 16px;
  --mixin-RGuhvA92z-pL_font-weight: 600;
  --mixin-RGuhvA92z-pL_line-height: 1.5;
  --mixin-RGuhvA92z-pL_white-space: pre-wrap;
  --mixin-nmK7p_WIw6Nk_color: #3291ff;
  --mixin-nmK7p_WIw6Nk_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-1_Hb9VuxCXa_font-family);
  font-size: var(--mixin-1_Hb9VuxCXa_font-size);
  font-weight: var(--mixin-1_Hb9VuxCXa_font-weight);
  font-style: var(--mixin-1_Hb9VuxCXa_font-style);
  color: var(--mixin-1_Hb9VuxCXa_color);
  text-align: var(--mixin-1_Hb9VuxCXa_text-align);
  text-transform: var(--mixin-1_Hb9VuxCXa_text-transform);
  line-height: var(--mixin-1_Hb9VuxCXa_line-height);
  letter-spacing: var(--mixin-1_Hb9VuxCXa_letter-spacing);
  white-space: var(--mixin-1_Hb9VuxCXa_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-jiZz1csD9lcb_color);
  font-weight: var(--mixin-jiZz1csD9lcb_font-weight);
  font-size: var(--mixin-jiZz1csD9lcb_font-size);
  line-height: var(--mixin-jiZz1csD9lcb_line-height);
  letter-spacing: var(--mixin-jiZz1csD9lcb_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-76COPsJkj7M9_font-family);
  color: var(--mixin-76COPsJkj7M9_color);
  font-size: var(--mixin-76COPsJkj7M9_font-size);
  font-weight: var(--mixin-76COPsJkj7M9_font-weight);
  letter-spacing: var(--mixin-76COPsJkj7M9_letter-spacing);
  line-height: var(--mixin-76COPsJkj7M9_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-L7DPssLj0oOt_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-5RS0ngkXFBR1_font-family);
  color: var(--mixin-5RS0ngkXFBR1_color);
  font-size: var(--mixin-5RS0ngkXFBR1_font-size);
  font-weight: var(--mixin-5RS0ngkXFBR1_font-weight);
  letter-spacing: var(--mixin-5RS0ngkXFBR1_letter-spacing);
  line-height: var(--mixin-5RS0ngkXFBR1_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-DEsqCLYMGvND_font-family);
  color: var(--mixin-DEsqCLYMGvND_color);
  font-size: var(--mixin-DEsqCLYMGvND_font-size);
  font-weight: var(--mixin-DEsqCLYMGvND_font-weight);
  letter-spacing: var(--mixin-DEsqCLYMGvND_letter-spacing);
  line-height: var(--mixin-DEsqCLYMGvND_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-uauE5dyy4ke6_font-family);
  border-radius: var(--mixin-uauE5dyy4ke6_border-top-left-radius)
    var(--mixin-uauE5dyy4ke6_border-top-right-radius)
    var(--mixin-uauE5dyy4ke6_border-bottom-right-radius)
    var(--mixin-uauE5dyy4ke6_border-bottom-left-radius);
  padding: var(--mixin-uauE5dyy4ke6_padding-top)
    var(--mixin-uauE5dyy4ke6_padding-right)
    var(--mixin-uauE5dyy4ke6_padding-bottom)
    var(--mixin-uauE5dyy4ke6_padding-left);
  border-top: var(--mixin-uauE5dyy4ke6_border-top-width)
    var(--mixin-uauE5dyy4ke6_border-top-style)
    var(--mixin-uauE5dyy4ke6_border-top-color);
  border-right: var(--mixin-uauE5dyy4ke6_border-right-width)
    var(--mixin-uauE5dyy4ke6_border-right-style)
    var(--mixin-uauE5dyy4ke6_border-right-color);
  border-bottom: var(--mixin-uauE5dyy4ke6_border-bottom-width)
    var(--mixin-uauE5dyy4ke6_border-bottom-style)
    var(--mixin-uauE5dyy4ke6_border-bottom-color);
  border-left: var(--mixin-uauE5dyy4ke6_border-left-width)
    var(--mixin-uauE5dyy4ke6_border-left-style)
    var(--mixin-uauE5dyy4ke6_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-hv8hCagjU8YV_color);
  padding-left: var(--mixin-hv8hCagjU8YV_padding-left);
  border-left: var(--mixin-hv8hCagjU8YV_border-left-width)
    var(--mixin-hv8hCagjU8YV_border-left-style)
    var(--mixin-hv8hCagjU8YV_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-XwYhDi5Ju4xb_font-family);
  border-radius: var(--mixin-XwYhDi5Ju4xb_border-top-left-radius)
    var(--mixin-XwYhDi5Ju4xb_border-top-right-radius)
    var(--mixin-XwYhDi5Ju4xb_border-bottom-right-radius)
    var(--mixin-XwYhDi5Ju4xb_border-bottom-left-radius);
  padding: var(--mixin-XwYhDi5Ju4xb_padding-top)
    var(--mixin-XwYhDi5Ju4xb_padding-right)
    var(--mixin-XwYhDi5Ju4xb_padding-bottom)
    var(--mixin-XwYhDi5Ju4xb_padding-left);
  border-top: var(--mixin-XwYhDi5Ju4xb_border-top-width)
    var(--mixin-XwYhDi5Ju4xb_border-top-style)
    var(--mixin-XwYhDi5Ju4xb_border-top-color);
  border-right: var(--mixin-XwYhDi5Ju4xb_border-right-width)
    var(--mixin-XwYhDi5Ju4xb_border-right-style)
    var(--mixin-XwYhDi5Ju4xb_border-right-color);
  border-bottom: var(--mixin-XwYhDi5Ju4xb_border-bottom-width)
    var(--mixin-XwYhDi5Ju4xb_border-bottom-style)
    var(--mixin-XwYhDi5Ju4xb_border-bottom-color);
  border-left: var(--mixin-XwYhDi5Ju4xb_border-left-width)
    var(--mixin-XwYhDi5Ju4xb_border-left-style)
    var(--mixin-XwYhDi5Ju4xb_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-wV8OpSG5L3E9_display);
  flex-direction: var(--mixin-wV8OpSG5L3E9_flex-direction);
  align-items: var(--mixin-wV8OpSG5L3E9_align-items);
  justify-content: var(--mixin-wV8OpSG5L3E9_justify-content);
  list-style-position: var(--mixin-wV8OpSG5L3E9_list-style-position);
  padding-left: var(--mixin-wV8OpSG5L3E9_padding-left);
  position: var(--mixin-wV8OpSG5L3E9_position);
  list-style-type: var(--mixin-wV8OpSG5L3E9_list-style-type);
  flex-column-gap: var(--mixin-wV8OpSG5L3E9_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-E0EOgEoHmwvF_display);
  flex-direction: var(--mixin-E0EOgEoHmwvF_flex-direction);
  align-items: var(--mixin-E0EOgEoHmwvF_align-items);
  justify-content: var(--mixin-E0EOgEoHmwvF_justify-content);
  list-style-position: var(--mixin-E0EOgEoHmwvF_list-style-position);
  padding-left: var(--mixin-E0EOgEoHmwvF_padding-left);
  position: var(--mixin-E0EOgEoHmwvF_position);
  list-style-type: var(--mixin-E0EOgEoHmwvF_list-style-type);
  flex-column-gap: var(--mixin-E0EOgEoHmwvF_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin--GZ2k5WFFVEP_font-family);
  color: var(--mixin--GZ2k5WFFVEP_color);
  font-size: var(--mixin--GZ2k5WFFVEP_font-size);
  font-weight: var(--mixin--GZ2k5WFFVEP_font-weight);
  letter-spacing: var(--mixin--GZ2k5WFFVEP_letter-spacing);
  line-height: var(--mixin--GZ2k5WFFVEP_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-RGuhvA92z-pL_font-family);
  color: var(--mixin-RGuhvA92z-pL_color);
  font-size: var(--mixin-RGuhvA92z-pL_font-size);
  font-weight: var(--mixin-RGuhvA92z-pL_font-weight);
  line-height: var(--mixin-RGuhvA92z-pL_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-nmK7p_WIw6Nk_color);
}
