.tileWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  overflow: visible;
  width: 100%;
  cursor: pointer;
  background: rgb(255, 255, 255);
  height: 100%;
  min-height: 130px;
  margin-top: 0px;
  margin-right: 4px;
  min-width: 0;
  border-radius: 8px;
  padding: 10px;
  border: 0px none rgba(0, 0, 0, 0);
}
.tileWrapperbadge_red {
  height: 148px;
}
.tileWrapperstate_active {
  box-shadow: 0px 0px 0px 2px #53c27c;
  background: rgb(231, 249, 238);
}
.tileWrapperstate_active_badge_red {
  box-shadow: 0px 0px 0px 2px #53c27c;
}
.tileWrapper___focusVisible {
  box-shadow: 0px 0px 0px 2px var(--token--SdTLfq3b);
  margin-right: 0px;
  outline: none;
  padding: 0px;
}
.tileWrapperstate_active____focusVisible {
  box-shadow: 0px 0px 0px 2px var(--token-RqjgsiS1gc),
    0px 0px 0px 4px var(--token-2nW9fU-X4l);
  outline: none;
}
.tileWrapper___hover__notFocusVisible:hover {
  box-shadow: 0px 2px 28px 0px #00000033;
  margin-right: 0px;
  padding-right: 10px;
  outline: none;
}
.tileWrapperstate_active____hover__notFocusVisible:hover {
  box-shadow: 0px 0px 0px 2px #53c27c;
  cursor: pointer;
  background: #d9f3e2;
  width: 100%;
  height: 100%;
  min-height: 130px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  outline: none;
  border-radius: 8px;
  padding: 10px;
  border: 0px none rgba(0, 0, 0, 0);
}
.badgeWrapper {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0px;
  top: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 0;
}
.badgeWrapperbadge_red {
  background: rgb(217, 53, 43);
}
.badgeWrapperstate_active_badge_red {
  background: rgb(83, 194, 124);
}
.slotTargetBadgeText {
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.slotTargetBadgeTextbadge_red {
  font-weight: 600;
}
.tileIconAndText {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.tileIconAndTextbadge_red {
  padding-top: 8px;
}
.tileWrapper .tileIconAndText___focusVisible {
  margin-right: 0px;
  max-width: 223px;
  width: 100%;
  min-width: 0;
  outline: none;
  padding: 10px;
}
.tileWrapperstate_active .tileIconAndTextstate_active____focusVisible {
  outline: none;
}
.tileWrapper:hover .tileIconAndText___hover__notFocusVisible {
  outline: none;
}
.tileWrapperstate_active:hover
  .tileIconAndTextstate_active____hover__notFocusVisible {
  outline: none;
}
.checkMarkWrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 48px;
  min-width: 0;
  flex-shrink: 0;
  padding: 10px 0px 0px;
  margin: 0px;
}
.checkMarkWrapperstate_active {
  padding: 0px;
  margin: 10px 0px 0px;
}
.checkMarkWrapperstate_active_badge_red {
  padding: 0px;
  margin: 15px 0px 0px;
}
.tileWrapperstate_active .checkMarkWrapperstate_active____focusVisible {
  outline: none;
}
.tileWrapper:hover .checkMarkWrapper___hover__notFocusVisible {
  outline: none;
}
.tileWrapperstate_active:hover
  .checkMarkWrapperstate_active____hover__notFocusVisible {
  outline: none;
}
.img {
  position: relative;
  object-fit: contain;
}
.img > picture > img {
  object-fit: contain;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.tileWrapperstate_active .imgstate_active____focusVisible {
  outline: none;
}
.tileWrapperstate_active:hover .imgstate_active____hover__notFocusVisible {
  outline: none;
}
.tileIconWrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 48px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  margin: 10px 0px 0px;
}
.tileWrapper .tileIconWrapper___focusVisible {
  height: 51px;
  max-width: 190px;
  width: 100%;
  margin-bottom: 0px;
  margin-right: 0px;
  padding-right: 0px;
  min-width: 0;
  flex-shrink: 0;
  outline: none;
}
.tileWrapper:hover .tileIconWrapper___hover__notFocusVisible {
  max-width: 191px;
  width: 100%;
  min-width: 0;
  outline: none;
}
.img__edt5A {
  position: relative;
  object-fit: contain;
  height: 51px;
  width: auto;
  display: inline-block !important;
}
.img__edt5A > picture > img {
  object-fit: contain;
}
.img__edt5A > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.tileTextWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  align-self: center;
  flex-shrink: 1;
  flex-wrap: nowrap;
  align-content: stretch;
  min-height: 0;
  padding: 10px 0px 0px;
}
.tileWrapper .tileTextWrapper___focusVisible {
  margin-right: 0px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  outline: none;
}
.tileWrapperstate_active .tileTextWrapperstate_active____focusVisible {
  outline: none;
}
.tileWrapper:hover .tileTextWrapper___hover__notFocusVisible {
  outline: none;
}
.tileWrapperstate_active:hover
  .tileTextWrapperstate_active____hover__notFocusVisible {
  width: auto;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 0;
  outline: none;
}
.slotTargetText {
  text-align: center;
  line-height: 1.4;
  font-size: 12px;
}
.tileWrapper .slotTargetText___focusVisible > *,
.tileWrapper .slotTargetText___focusVisible > :global(.__wab_slot) > *,
.tileWrapper
  .slotTargetText___focusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.tileWrapper
  .slotTargetText___focusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.tileWrapper .slotTargetText___focusVisible > picture > img,
.tileWrapper
  .slotTargetText___focusVisible
  > :global(.__wab_slot)
  > picture
  > img,
.tileWrapper
  .slotTargetText___focusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.tileWrapper
  .slotTargetText___focusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.tileWrapperstate_active .slotTargetTextstate_active____focusVisible > *,
.tileWrapperstate_active
  .slotTargetTextstate_active____focusVisible
  > :global(.__wab_slot)
  > *,
.tileWrapperstate_active
  .slotTargetTextstate_active____focusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.tileWrapperstate_active
  .slotTargetTextstate_active____focusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.tileWrapperstate_active
  .slotTargetTextstate_active____focusVisible
  > picture
  > img,
.tileWrapperstate_active
  .slotTargetTextstate_active____focusVisible
  > :global(.__wab_slot)
  > picture
  > img,
.tileWrapperstate_active
  .slotTargetTextstate_active____focusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.tileWrapperstate_active
  .slotTargetTextstate_active____focusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.tileWrapper:hover .slotTargetText___hover__notFocusVisible > *,
.tileWrapper:hover
  .slotTargetText___hover__notFocusVisible
  > :global(.__wab_slot)
  > *,
.tileWrapper:hover
  .slotTargetText___hover__notFocusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.tileWrapper:hover
  .slotTargetText___hover__notFocusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.tileWrapper:hover .slotTargetText___hover__notFocusVisible > picture > img,
.tileWrapper:hover
  .slotTargetText___hover__notFocusVisible
  > :global(.__wab_slot)
  > picture
  > img,
.tileWrapper:hover
  .slotTargetText___hover__notFocusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.tileWrapper:hover
  .slotTargetText___hover__notFocusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.tileWrapperstate_active:hover
  .slotTargetTextstate_active____hover__notFocusVisible
  > *,
.tileWrapperstate_active:hover
  .slotTargetTextstate_active____hover__notFocusVisible
  > :global(.__wab_slot)
  > *,
.tileWrapperstate_active:hover
  .slotTargetTextstate_active____hover__notFocusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.tileWrapperstate_active:hover
  .slotTargetTextstate_active____hover__notFocusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.tileWrapperstate_active:hover
  .slotTargetTextstate_active____hover__notFocusVisible
  > picture
  > img,
.tileWrapperstate_active:hover
  .slotTargetTextstate_active____hover__notFocusVisible
  > :global(.__wab_slot)
  > picture
  > img,
.tileWrapperstate_active:hover
  .slotTargetTextstate_active____hover__notFocusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.tileWrapperstate_active:hover
  .slotTargetTextstate_active____hover__notFocusVisible
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
