.plasmic_tokens {
  --token-37wVpnxJl: #393a3d;
  --plasmic-token-gray-01: var(--token-37wVpnxJl);
  --token-b1xS2l2QB: rgb(107, 108, 114);
  --plasmic-token-gray-02: var(--token-b1xS2l2QB);
  --token-ikNyXx3n3: #8d9096;
  --plasmic-token-gray-03: var(--token-ikNyXx3n3);
  --token-JLDwb0Igy: rgb(186, 190, 197);
  --plasmic-token-gray-04: var(--token-JLDwb0Igy);
  --token-0dJt8ZWF9: rgb(212, 215, 220);
  --plasmic-token-gray-05: var(--token-0dJt8ZWF9);
  --token-6yIOC7fVH: rgb(244, 245, 248);
  --plasmic-token-gray-07: var(--token-6yIOC7fVH);
  --token-M6hOi8qQ_: rgb(238, 239, 244);
  --plasmic-token-gray-07-hovered: var(--token-M6hOi8qQ_);
  --token-po0RXtpUe: #037c8f;
  --plasmic-token-teal-01: var(--token-po0RXtpUe);
  --token-Slvqa1hGV: rgb(17, 107, 122);
  --plasmic-token-teal-01-hovered: var(--token-Slvqa1hGV);
  --token-Yf--5vP-U: rgb(5, 83, 147);
  --plasmic-token-blue-01: var(--token-Yf--5vP-U);
  --token-SLeKBgHES: rgb(0, 119, 197);
  --plasmic-token-blue-02: var(--token-SLeKBgHES);
  --token-TspPDa8On: rgb(0, 151, 230);
  --plasmic-token-blue-03: var(--token-TspPDa8On);
  --token--bxFNUrbx: rgb(33, 171, 246);
  --plasmic-token-blue-04: var(--token--bxFNUrbx);
  --token-AK8BCvWqk: rgb(236, 249, 255);
  --plasmic-token-passive-ghost-white-hovered: var(--token-AK8BCvWqk);
  --token-iMTEWnnFP: rgb(83, 194, 124);
  --plasmic-token-ttgreen-01: var(--token-iMTEWnnFP);
  --token-1quATYK5Q: rgb(213, 43, 30);
  --plasmic-token-red-02: var(--token-1quATYK5Q);
  --token-NpUuLvOfP: rgb(236, 238, 241);
  --plasmic-token-gray-06: var(--token-NpUuLvOfP);
  --token-UtUkHs_pa: rgb(6, 182, 201);
  --plasmic-token-teal-04: var(--token-UtUkHs_pa);
  --token-3frBqZRXN: #05a4b5;
  --plasmic-token-teal-03: var(--token-3frBqZRXN);
  --token-J8UORbvtB: rgb(4, 147, 163);
  --plasmic-token-teal-02: var(--token-J8UORbvtB);
  --token-jIAts12Du: rgb(66, 149, 165);
  --plasmic-token-teal-03-hovered: var(--token-jIAts12Du);
  --token-L3vTkKGss: rgb(255, 173, 0);
  --plasmic-token-yellow-01: var(--token-L3vTkKGss);
  --token-3G0M5lced: rgb(255, 187, 0);
  --plasmic-token-yellow-02: var(--token-3G0M5lced);
  --token-zrKqUufy9: rgb(255, 202, 0);
  --plasmic-token-yellow-03: var(--token-zrKqUufy9);
  --token-9Bn2p96pq: rgb(255, 220, 0);
  --plasmic-token-yellow-04: var(--token-9Bn2p96pq);
  --token-sDLCbCZJ1: rgb(255, 238, 0);
  --plasmic-token-yellow-05: var(--token-sDLCbCZJ1);
  --token-rRvBEBaaF: rgb(249, 87, 0);
  --plasmic-token-orange-01: var(--token-rRvBEBaaF);
  --token-aaLZPJIcy: rgb(255, 106, 0);
  --plasmic-token-orange-02: var(--token-aaLZPJIcy);
  --token-2Y1voDn0u: rgb(255, 128, 0);
  --plasmic-token-orange-03: var(--token-2Y1voDn0u);
  --token-1E8IJvrtX: rgb(255, 147, 49);
  --plasmic-token-orange-04: var(--token-1E8IJvrtX);
  --token-q6yuon57i: rgb(255, 172, 97);
  --plasmic-token-orange-05: var(--token-q6yuon57i);
  --token-vQhI0GDmn: rgb(6, 42, 71);
  --plasmic-token-navy-01: var(--token-vQhI0GDmn);
  --token-Un11UQyxo: rgb(3, 72, 128);
  --plasmic-token-navy-02: var(--token-Un11UQyxo);
  --token-GRvkIvJ4f: rgb(57, 101, 152);
  --plasmic-token-navy-03: var(--token-GRvkIvJ4f);
  --token-HNBODauSp: #53b700;
  --plasmic-token-green-03: var(--token-HNBODauSp);
  --token-r2oIzdq1O: #c6150e;
  --plasmic-token-red-02-hovered: var(--token-r2oIzdq1O);
  --token-uG0rvCYDP: #ffffff;
  --plasmic-token-white: var(--token-uG0rvCYDP);
  --token-WZNmvDfSk: #34bfff;
  --plasmic-token-blue-05: var(--token-WZNmvDfSk);
  --token--SdTLfq3b: rgb(3, 124, 143);
  --plasmic-token-teal-01-2: var(--token--SdTLfq3b);
  --token-RqjgsiS1gc: rgb(83, 194, 124);
  --plasmic-token-ttgreen-01-2: var(--token-RqjgsiS1gc);
  --token-2nW9fU-X4l: rgb(212, 215, 220);
  --plasmic-token-gray-05-2: var(--token-2nW9fU-X4l);
  --token-BQ5YwapxN: #000000;
  --plasmic-token-black: var(--token-BQ5YwapxN);
}

.plasmic_default_styles {
  --mixin-d1OAC69SGB_font-size: 16px;
  --mixin-d1OAC69SGB_font-weight: 400;
  --mixin-d1OAC69SGB_font-style: normal;
  --mixin-d1OAC69SGB_color: var(--token-37wVpnxJl);
  --mixin-d1OAC69SGB_text-align: left;
  --mixin-d1OAC69SGB_text-transform: none;
  --mixin-d1OAC69SGB_line-height: 20px;
  --mixin-d1OAC69SGB_letter-spacing: normal;
  --mixin-d1OAC69SGB_white-space: pre-wrap;
  --mixin-d1OAC69SGB_user-select: text;
  --mixin-d1OAC69SGB_text-decoration-line: none;
  --mixin-d1OAC69SGB_text-overflow: clip;
  --mixin-Sm6Bb6m_mp_color: #000000;
  --mixin-Sm6Bb6m_mp_font-size: 72px;
  --mixin-Sm6Bb6m_mp_font-weight: 900;
  --mixin-Sm6Bb6m_mp_line-height: 1;
  --mixin-Sm6Bb6m_mp_white-space: pre-wrap;
  --mixin-qzEtSoITxo_color: #000000;
  --mixin-qzEtSoITxo_font-size: 48px;
  --mixin-qzEtSoITxo_font-weight: 700;
  --mixin-qzEtSoITxo_letter-spacing: -1px;
  --mixin-qzEtSoITxo_line-height: 1.1;
  --mixin-qzEtSoITxo_white-space: pre-wrap;
  --mixin-lO-caMV6vJ_color: #000000;
  --mixin-lO-caMV6vJ_font-size: 32px;
  --mixin-lO-caMV6vJ_font-weight: 600;
  --mixin-lO-caMV6vJ_letter-spacing: -0.8px;
  --mixin-lO-caMV6vJ_line-height: 1.2;
  --mixin-lO-caMV6vJ_white-space: pre-wrap;
  --mixin-CVCuFVrKoO_color: #000000;
  --mixin-CVCuFVrKoO_font-size: 24px;
  --mixin-CVCuFVrKoO_font-weight: 600;
  --mixin-CVCuFVrKoO_letter-spacing: -0.5px;
  --mixin-CVCuFVrKoO_line-height: 1.3;
  --mixin-CVCuFVrKoO_white-space: pre-wrap;
  --mixin-FpNIBmpEhy_color: #000000;
  --mixin-FpNIBmpEhy_font-size: 20px;
  --mixin-FpNIBmpEhy_font-weight: 600;
  --mixin-FpNIBmpEhy_letter-spacing: -0.3px;
  --mixin-FpNIBmpEhy_line-height: 1.5;
  --mixin-FpNIBmpEhy_white-space: pre-wrap;
  --mixin-rrly0pJBmW4_color: #000000;
  --mixin-rrly0pJBmW4_font-size: 16px;
  --mixin-rrly0pJBmW4_font-weight: 600;
  --mixin-rrly0pJBmW4_line-height: 1.5;
  --mixin-rrly0pJBmW4_white-space: pre-wrap;
  --mixin-QIgVx8UniQv_color: #0070f3;
  --mixin-QIgVx8UniQv_white-space: pre-wrap;
  --mixin-_F816QXSK43_color: #3291ff;
  --mixin-_F816QXSK43_white-space: pre-wrap;
  --mixin-E8hY1Yun7oA_border-left-color: #dddddd;
  --mixin-E8hY1Yun7oA_border-left-style: solid;
  --mixin-E8hY1Yun7oA_border-left-width: 3px;
  --mixin-E8hY1Yun7oA_color: #888888;
  --mixin-E8hY1Yun7oA_padding-left: 10px;
  --mixin-E8hY1Yun7oA_white-space: pre-wrap;
  --mixin-7iaLH5cP6jR_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7iaLH5cP6jR_border-bottom-color: #dddddd;
  --mixin-7iaLH5cP6jR_border-bottom-style: solid;
  --mixin-7iaLH5cP6jR_border-bottom-width: 1px;
  --mixin-7iaLH5cP6jR_border-left-color: #dddddd;
  --mixin-7iaLH5cP6jR_border-left-style: solid;
  --mixin-7iaLH5cP6jR_border-left-width: 1px;
  --mixin-7iaLH5cP6jR_border-right-color: #dddddd;
  --mixin-7iaLH5cP6jR_border-right-style: solid;
  --mixin-7iaLH5cP6jR_border-right-width: 1px;
  --mixin-7iaLH5cP6jR_border-top-color: #dddddd;
  --mixin-7iaLH5cP6jR_border-top-style: solid;
  --mixin-7iaLH5cP6jR_border-top-width: 1px;
  --mixin-7iaLH5cP6jR_border-bottom-left-radius: 3px;
  --mixin-7iaLH5cP6jR_border-bottom-right-radius: 3px;
  --mixin-7iaLH5cP6jR_border-top-left-radius: 3px;
  --mixin-7iaLH5cP6jR_border-top-right-radius: 3px;
  --mixin-7iaLH5cP6jR_padding-bottom: 1px;
  --mixin-7iaLH5cP6jR_padding-left: 4px;
  --mixin-7iaLH5cP6jR_padding-right: 4px;
  --mixin-7iaLH5cP6jR_padding-top: 1px;
  --mixin-7iaLH5cP6jR_white-space: pre-wrap;
  --mixin-KQZ2l0ecj9y_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-KQZ2l0ecj9y_border-bottom-color: #dddddd;
  --mixin-KQZ2l0ecj9y_border-bottom-style: solid;
  --mixin-KQZ2l0ecj9y_border-bottom-width: 1px;
  --mixin-KQZ2l0ecj9y_border-left-color: #dddddd;
  --mixin-KQZ2l0ecj9y_border-left-style: solid;
  --mixin-KQZ2l0ecj9y_border-left-width: 1px;
  --mixin-KQZ2l0ecj9y_border-right-color: #dddddd;
  --mixin-KQZ2l0ecj9y_border-right-style: solid;
  --mixin-KQZ2l0ecj9y_border-right-width: 1px;
  --mixin-KQZ2l0ecj9y_border-top-color: #dddddd;
  --mixin-KQZ2l0ecj9y_border-top-style: solid;
  --mixin-KQZ2l0ecj9y_border-top-width: 1px;
  --mixin-KQZ2l0ecj9y_border-bottom-left-radius: 3px;
  --mixin-KQZ2l0ecj9y_border-bottom-right-radius: 3px;
  --mixin-KQZ2l0ecj9y_border-top-left-radius: 3px;
  --mixin-KQZ2l0ecj9y_border-top-right-radius: 3px;
  --mixin-KQZ2l0ecj9y_padding-bottom: 3px;
  --mixin-KQZ2l0ecj9y_padding-left: 6px;
  --mixin-KQZ2l0ecj9y_padding-right: 6px;
  --mixin-KQZ2l0ecj9y_padding-top: 3px;
  --mixin-KQZ2l0ecj9y_white-space: pre-wrap;
  --mixin-TRAcqTu5tET_display: flex;
  --mixin-TRAcqTu5tET_flex-direction: column;
  --mixin-TRAcqTu5tET_align-items: stretch;
  --mixin-TRAcqTu5tET_justify-content: flex-start;
  --mixin-TRAcqTu5tET_list-style-position: outside;
  --mixin-TRAcqTu5tET_padding-left: 40px;
  --mixin-TRAcqTu5tET_position: relative;
  --mixin-TRAcqTu5tET_list-style-type: decimal;
  --mixin-TRAcqTu5tET_white-space: pre-wrap;
  --mixin-d0DSUWvTdPt_display: flex;
  --mixin-d0DSUWvTdPt_flex-direction: column;
  --mixin-d0DSUWvTdPt_align-items: stretch;
  --mixin-d0DSUWvTdPt_justify-content: flex-start;
  --mixin-d0DSUWvTdPt_list-style-position: outside;
  --mixin-d0DSUWvTdPt_padding-left: 40px;
  --mixin-d0DSUWvTdPt_position: relative;
  --mixin-d0DSUWvTdPt_list-style-type: disc;
  --mixin-d0DSUWvTdPt_white-space: pre-wrap;
  --mixin-xfY6NqV2g_white-space: pre-wrap;
  --mixin-iUt9Nn4F4_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-size: var(--mixin-d1OAC69SGB_font-size);
  font-weight: var(--mixin-d1OAC69SGB_font-weight);
  font-style: var(--mixin-d1OAC69SGB_font-style);
  color: var(--mixin-d1OAC69SGB_color);
  text-align: var(--mixin-d1OAC69SGB_text-align);
  text-transform: var(--mixin-d1OAC69SGB_text-transform);
  line-height: var(--mixin-d1OAC69SGB_line-height);
  letter-spacing: var(--mixin-d1OAC69SGB_letter-spacing);
  white-space: var(--mixin-d1OAC69SGB_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-Sm6Bb6m_mp_color);
  font-size: var(--mixin-Sm6Bb6m_mp_font-size);
  font-weight: var(--mixin-Sm6Bb6m_mp_font-weight);
  line-height: var(--mixin-Sm6Bb6m_mp_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-qzEtSoITxo_color);
  font-size: var(--mixin-qzEtSoITxo_font-size);
  font-weight: var(--mixin-qzEtSoITxo_font-weight);
  letter-spacing: var(--mixin-qzEtSoITxo_letter-spacing);
  line-height: var(--mixin-qzEtSoITxo_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-lO-caMV6vJ_color);
  font-size: var(--mixin-lO-caMV6vJ_font-size);
  font-weight: var(--mixin-lO-caMV6vJ_font-weight);
  letter-spacing: var(--mixin-lO-caMV6vJ_letter-spacing);
  line-height: var(--mixin-lO-caMV6vJ_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-CVCuFVrKoO_color);
  font-size: var(--mixin-CVCuFVrKoO_font-size);
  font-weight: var(--mixin-CVCuFVrKoO_font-weight);
  letter-spacing: var(--mixin-CVCuFVrKoO_letter-spacing);
  line-height: var(--mixin-CVCuFVrKoO_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-FpNIBmpEhy_color);
  font-size: var(--mixin-FpNIBmpEhy_font-size);
  font-weight: var(--mixin-FpNIBmpEhy_font-weight);
  letter-spacing: var(--mixin-FpNIBmpEhy_letter-spacing);
  line-height: var(--mixin-FpNIBmpEhy_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-rrly0pJBmW4_color);
  font-size: var(--mixin-rrly0pJBmW4_font-size);
  font-weight: var(--mixin-rrly0pJBmW4_font-weight);
  line-height: var(--mixin-rrly0pJBmW4_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-QIgVx8UniQv_color);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-_F816QXSK43_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-E8hY1Yun7oA_color);
  padding-left: var(--mixin-E8hY1Yun7oA_padding-left);
  border-left: var(--mixin-E8hY1Yun7oA_border-left-width)
    var(--mixin-E8hY1Yun7oA_border-left-style)
    var(--mixin-E8hY1Yun7oA_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  border-radius: var(--mixin-7iaLH5cP6jR_border-top-left-radius)
    var(--mixin-7iaLH5cP6jR_border-top-right-radius)
    var(--mixin-7iaLH5cP6jR_border-bottom-right-radius)
    var(--mixin-7iaLH5cP6jR_border-bottom-left-radius);
  padding: var(--mixin-7iaLH5cP6jR_padding-top)
    var(--mixin-7iaLH5cP6jR_padding-right)
    var(--mixin-7iaLH5cP6jR_padding-bottom)
    var(--mixin-7iaLH5cP6jR_padding-left);
  border-top: var(--mixin-7iaLH5cP6jR_border-top-width)
    var(--mixin-7iaLH5cP6jR_border-top-style)
    var(--mixin-7iaLH5cP6jR_border-top-color);
  border-right: var(--mixin-7iaLH5cP6jR_border-right-width)
    var(--mixin-7iaLH5cP6jR_border-right-style)
    var(--mixin-7iaLH5cP6jR_border-right-color);
  border-bottom: var(--mixin-7iaLH5cP6jR_border-bottom-width)
    var(--mixin-7iaLH5cP6jR_border-bottom-style)
    var(--mixin-7iaLH5cP6jR_border-bottom-color);
  border-left: var(--mixin-7iaLH5cP6jR_border-left-width)
    var(--mixin-7iaLH5cP6jR_border-left-style)
    var(--mixin-7iaLH5cP6jR_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  border-radius: var(--mixin-KQZ2l0ecj9y_border-top-left-radius)
    var(--mixin-KQZ2l0ecj9y_border-top-right-radius)
    var(--mixin-KQZ2l0ecj9y_border-bottom-right-radius)
    var(--mixin-KQZ2l0ecj9y_border-bottom-left-radius);
  padding: var(--mixin-KQZ2l0ecj9y_padding-top)
    var(--mixin-KQZ2l0ecj9y_padding-right)
    var(--mixin-KQZ2l0ecj9y_padding-bottom)
    var(--mixin-KQZ2l0ecj9y_padding-left);
  border-top: var(--mixin-KQZ2l0ecj9y_border-top-width)
    var(--mixin-KQZ2l0ecj9y_border-top-style)
    var(--mixin-KQZ2l0ecj9y_border-top-color);
  border-right: var(--mixin-KQZ2l0ecj9y_border-right-width)
    var(--mixin-KQZ2l0ecj9y_border-right-style)
    var(--mixin-KQZ2l0ecj9y_border-right-color);
  border-bottom: var(--mixin-KQZ2l0ecj9y_border-bottom-width)
    var(--mixin-KQZ2l0ecj9y_border-bottom-style)
    var(--mixin-KQZ2l0ecj9y_border-bottom-color);
  border-left: var(--mixin-KQZ2l0ecj9y_border-left-width)
    var(--mixin-KQZ2l0ecj9y_border-left-style)
    var(--mixin-KQZ2l0ecj9y_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-TRAcqTu5tET_display);
  flex-direction: var(--mixin-TRAcqTu5tET_flex-direction);
  align-items: var(--mixin-TRAcqTu5tET_align-items);
  justify-content: var(--mixin-TRAcqTu5tET_justify-content);
  list-style-position: var(--mixin-TRAcqTu5tET_list-style-position);
  padding-left: var(--mixin-TRAcqTu5tET_padding-left);
  position: var(--mixin-TRAcqTu5tET_position);
  list-style-type: var(--mixin-TRAcqTu5tET_list-style-type);
  flex-column-gap: var(--mixin-TRAcqTu5tET_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-d0DSUWvTdPt_display);
  flex-direction: var(--mixin-d0DSUWvTdPt_flex-direction);
  align-items: var(--mixin-d0DSUWvTdPt_align-items);
  justify-content: var(--mixin-d0DSUWvTdPt_justify-content);
  list-style-position: var(--mixin-d0DSUWvTdPt_list-style-position);
  padding-left: var(--mixin-d0DSUWvTdPt_padding-left);
  position: var(--mixin-d0DSUWvTdPt_position);
  list-style-type: var(--mixin-d0DSUWvTdPt_list-style-type);
  flex-column-gap: var(--mixin-d0DSUWvTdPt_flex-column-gap);
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}
