.root {
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  flex-direction: column;
  cursor: pointer;
  background: transparent;
  padding: 0px;
  border-width: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.rootalign_row {
  width: 100%;
  min-width: 0;
}
.rootalign_row > :global(.__wab_flex-container) {
  min-width: 0;
}
.rootalign_rowWhite {
  width: 100%;
  min-width: 0;
}
.rootalign_rowWhite > :global(.__wab_flex-container) {
  min-width: 0;
}
.rootalign_inline {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.rootalign_inline > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootalign_inline > :global(.__wab_flex-container) > *,
.rootalign_inline > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootalign_inline > :global(.__wab_flex-container) > picture > img,
.rootalign_inline
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.rootalign_inline_justify_center > :global(.__wab_flex-container) {
  align-items: flex-start;
  justify-content: center;
}
.rootalign_inline_color_white_justify_center > :global(.__wab_flex-container) {
  align-items: flex-start;
  justify-content: center;
}
.root:disabled {
  cursor: not-allowed;
}
.freeBox__mDgol {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
}
.freeBox__mDgol > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__mDgol > :global(.__wab_flex-container) > *,
.freeBox__mDgol > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mDgol > :global(.__wab_flex-container) > picture > img,
.freeBox__mDgol
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.freeBoxjustify_left__mDgoluXjyY {
  align-self: flex-start;
}
.freeBoxalign_row__mDgold0Cee {
  display: flex;
  flex-direction: row;
}
.freeBoxalign_row__mDgold0Cee > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxalign_row__mDgold0Cee > :global(.__wab_flex-container) > *,
.freeBoxalign_row__mDgold0Cee
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxalign_row__mDgold0Cee > :global(.__wab_flex-container) > picture > img,
.freeBoxalign_row__mDgold0Cee
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
  margin-top: 0px;
}
.freeBoxalign_rowWhite__mDgoLm4Ssp {
  display: flex;
  flex-direction: row;
}
.freeBoxalign_rowWhite__mDgoLm4Ssp > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxalign_rowWhite__mDgoLm4Ssp > :global(.__wab_flex-container) > *,
.freeBoxalign_rowWhite__mDgoLm4Ssp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxalign_rowWhite__mDgoLm4Ssp
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxalign_rowWhite__mDgoLm4Ssp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
  margin-top: 0px;
}
.freeBoxalign_inline__mDgol0E4VE {
  display: flex;
  flex-direction: row;
}
.freeBoxalign_inline__mDgol0E4VE > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxalign_inline__mDgol0E4VE > :global(.__wab_flex-container) > *,
.freeBoxalign_inline__mDgol0E4VE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxalign_inline__mDgol0E4VE
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxalign_inline__mDgol0E4VE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
  margin-top: 0px;
}
.freeBoxalign_row_size_small__mDgold0CeeVxj0O > :global(.__wab_flex-container) {
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxalign_row_size_small__mDgold0CeeVxj0O
  > :global(.__wab_flex-container)
  > *,
.freeBoxalign_row_size_small__mDgold0CeeVxj0O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxalign_row_size_small__mDgold0CeeVxj0O
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxalign_row_size_small__mDgold0CeeVxj0O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
  margin-top: 0px;
}
.starWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}
.baseStarWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.baseStarWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.baseStarWrapper > :global(.__wab_flex-container) > *,
.baseStarWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.baseStarWrapper > :global(.__wab_flex-container) > picture > img,
.baseStarWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.baseStarWrapperjustify_left > :global(.__wab_flex-container) {
  justify-content: flex-start;
}
.svg__qv5Fz {
  position: relative;
  object-fit: cover;
  color: var(--token-0dJt8ZWF9);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: block;
}
.svgsize_small__qv5FzVxj0O {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.svg__hHpRm {
  position: relative;
  object-fit: cover;
  color: var(--token-0dJt8ZWF9);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svgsize_small__hHpRmVxj0O {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.svg__llMh1 {
  position: relative;
  object-fit: cover;
  color: var(--token-0dJt8ZWF9);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svgsize_small__llMh1Vxj0O {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.svg___7NHIf {
  position: relative;
  object-fit: cover;
  color: var(--token-0dJt8ZWF9);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svgsize_small___7NHIfVxj0O {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.svg__vbTBc {
  position: relative;
  object-fit: cover;
  color: var(--token-0dJt8ZWF9);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svgsize_small__vbTBcVxj0O {
  height: 15px;
  width: 15px;
  flex-shrink: 0;
}
.colorStarWrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50%;
  overflow: hidden;
}
.colorStarWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.colorStarWrapper > :global(.__wab_flex-container) > *,
.colorStarWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.colorStarWrapper > :global(.__wab_flex-container) > picture > img,
.colorStarWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.colorStarWrapperjustify_left > :global(.__wab_flex-container) {
  justify-content: flex-start;
}
.colorStarWrapperalign_row {
  transform: translateX(0px) translateY(-50%) translateZ(0px);
  top: 50%;
}
.colorStarWrapperalign_rowWhite {
  width: 50%;
  flex-direction: row;
}
.colorStarWrapperalign_rowWhite > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.colorStarWrapperalign_rowWhite > :global(.__wab_flex-container) > *,
.colorStarWrapperalign_rowWhite
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.colorStarWrapperalign_rowWhite
  > :global(.__wab_flex-container)
  > picture
  > img,
.colorStarWrapperalign_rowWhite
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 0px;
}
.colorStarWrapperalign_inline {
  width: 50%;
  flex-direction: row;
}
.colorStarWrapperalign_inline > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.colorStarWrapperalign_inline > :global(.__wab_flex-container) > *,
.colorStarWrapperalign_inline
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.colorStarWrapperalign_inline > :global(.__wab_flex-container) > picture > img,
.colorStarWrapperalign_inline
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 0px;
}
.svg__o5Fm {
  position: relative;
  object-fit: cover;
  color: var(--token-zrKqUufy9);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svgsize_small__o5FmVxj0O {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.svg___96HE {
  position: relative;
  object-fit: cover;
  color: var(--token-zrKqUufy9);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svgsize_small___96HEvxj0O {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.svg__muCUo {
  position: relative;
  object-fit: cover;
  color: var(--token-zrKqUufy9);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svgsize_small__muCUoVxj0O {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.svg___2CaHl {
  position: relative;
  object-fit: cover;
  color: var(--token-zrKqUufy9);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svgsize_small___2CaHlvxj0O {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.svg__mtVqu {
  position: relative;
  object-fit: cover;
  color: var(--token-zrKqUufy9);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svgsize_small__mtVquVxj0O {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.textWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2px;
  min-width: 0;
}
.textWrapperjustify_left {
  justify-content: flex-start;
}
.textWrapperalign_row {
  margin-top: calc(2px + 0px) !important;
}
.textWrapperalign_rowWhite {
  margin-top: calc(2px + 0px) !important;
}
.textWrapperalign_inline {
  margin-top: calc(2px + 0px) !important;
}
.slotTargetText {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: var(--token-Yf--5vP-U);
}
.slotTargetTextalign_row {
  white-space: pre;
}
.slotTargetTextalign_rowWhite {
  color: #ffffff;
  white-space: pre;
}
.slotTargetTextcolor_white {
  color: var(--token-uG0rvCYDP);
}
.root:hover .slotTargetText > :global(.__wab_text),
.root:hover .slotTargetText > :global(.__wab_slot-string-wrapper),
.root:hover .slotTargetText > :global(.__wab_slot) > :global(.__wab_text),
.root:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.root:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.root:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.root:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.root:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
.root:disabled:hover .slotTargetText > :global(.__wab_text),
.root:disabled:hover .slotTargetText > :global(.__wab_slot-string-wrapper),
.root:disabled:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_text),
.root:disabled:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.root:disabled:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.root:disabled:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.root:disabled:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.root:disabled:hover
  .slotTargetText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: none;
}
.text__kIdmP {
  display: none;
}
.textdisclaimerIndicator_asterisk__kIdmPt6Bp0 {
  color: var(--token-Yf--5vP-U);
  font-size: 12px;
  line-height: 16px;
  display: block;
}
.freeBox__y8Ga {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
}
.freeBoxjustify_left__y8GaUXjyY {
  align-self: flex-start;
}
.freeBoxalign_inline__y8Ga0E4VE {
  margin-top: calc(3px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 10px) !important;
}
.freeBoxalign_inline_color_white__y8Ga0E4VECxdUz {
  margin-top: calc(0px + 0px) !important;
  margin-left: calc(0px + 10px) !important;
  padding: 4px 0px 0px;
}
.slotTargetDisclaimerText {
  font-size: 12px;
  color: #393a3d;
}
.slotTargetDisclaimerTextalign_rowWhite {
  font-style: italic;
  color: #ffffff;
}
.slotTargetDisclaimerTextalign_rowWhite > *,
.slotTargetDisclaimerTextalign_rowWhite > :global(.__wab_slot) > *,
.slotTargetDisclaimerTextalign_rowWhite
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetDisclaimerTextalign_rowWhite
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetDisclaimerTextalign_rowWhite > picture > img,
.slotTargetDisclaimerTextalign_rowWhite > :global(.__wab_slot) > picture > img,
.slotTargetDisclaimerTextalign_rowWhite
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetDisclaimerTextalign_rowWhite
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  display: none;
}
.slotTargetDisclaimerTextalign_inline {
  color: #393a3d;
  font-style: italic;
}
.slotTargetDisclaimerTextcolor_white {
  color: #ffffff;
}
.text__oIxFy {
  position: relative;
}
.textalign_rowWhite__oIxFym4Ssp {
  font-size: 12px;
  font-style: italic;
  color: #ffffff;
}
.textalign_inline__oIxFy0E4VE {
  line-height: 1;
}
.textalign_inline_color_white__oIxFy0E4VECxdUz {
  display: none;
}
